{% extends "base.html" %}
{% block content %}
<div>
<div class="col-xs-12 col-sm-9">
  <div class="jumbotron">
    <h2>Fe-Co-N</h2>
    <p>
Iron is more preferable than cobalt in permanent magnet applications considering its low price plus that Fe has a larger magnetic moment than Co. Thus by extending our work on the binary Co-N, the ternary Fe-Co-N system has been investigated as rare-earth free magnets [1, 2]. We found substituting a fraction of Co with Fe helps to stabilize the newly proposed structures and at the same time further improve the magnetic properties. 
</p>
  </div>
</div><!--/.col-xs-12.col-sm-9-->

<div class="col-xs-12 col-sm-9">
  <div class="jumbotron">
    <h2>cobalt nitride</h2>
<p>
The cobalt nitride system has been studied in detail using adaptive genetic algorithm and first-principles calculations [1].
</p>
  </div>
</div><!--/.col-xs-12.col-sm-9-->

</div>
{% endblock %}
