{% extends "base.html" %}

{% block content %}
<img class="img-responsive center-block" src="{{ url_for('static', filename='images/mm.png') }}"/>


<div class="page-header text-center">
        
 <div class="text-center">
        <h1>Magnetic Materials</h1>
<p class="lead"> <b> Collaborative PI: </b>  James R. Chelikowsky  <a href="https://www.utexas.edu/"> University of Texas at Austin </a> </p>
<p class="lead"> <b> Collaborative PI: </b>  Kai-Ming Ho and Cai-Zhuang Wang  <a href="https://www.iastate.edu/"> Iowa State University </a> </p>
<p class="lead"> <b> Collaborative PI: </b>  David Sellmyer and XiaoShan Xu  <a href="https://www.unl.edu/"> University of Nebraska </a> </p>
<br>
</div>
</div>

{%if not message %}

<div class="container-fluid">
<div class="row row-centered">
<table class="talbe table-condensed table-hover table-responsive table-bordered col-md-12">
<caption align="center"> Structure Database </caption>
<thead>
 <tr class="active d-flex">
        <th>Materials ID</th>
        <th>Formula </th>
        <th>Spacegroup </th>
<!--
        <th>Formation Energy (eV) </th>
        <th>E Above Hull (eV) </th>
-->
        <th>Band Gap (eV) </th>
        <th>Volume </th>
        <th>Nsites </th>
        <th>Density (gm/cc) </th>
 </tr>
</thead>
<tbody>
{% for d in data %}
            <tr>
                <td><a href="/info/{{d.mmid}}">{{ d.mmid }}</a></td>
                <td>{{ d.formula | safe }}</td>
                <td>{{ d.spacegroup }}</td>
<!--
                <td>{{ d.formation_energy }}</td>
                <td>{{ d.e_above_hull }}</td>
-->
                <td>{{ d.bandgap }}</td>
                <td>{{ d.volume }}</td>
                <td>{{ d.nsites }}</td>
                <td>{{ d.density }}</td>
            </tr>
{% endfor %}
</tbody>
</table>

</div>
</div>


<div class="container">
 <div class="text-center">
    <div class="clearfix" style="margin-bottom: 20px;"></div>
    <div class="col">    
        <form action="/query" method="get" name="query" role="form" class="form-inline">
             <div class="form-group">
                 <select name="select_type" class="selectpicker" data-style="btn-primary"> 
                     <option value="element">Elements</option> 
                     <option value="formula">Formula</option> 
                     <option value="groupid">SpaceGroup</option> 
                     <option value="materialid">MaterialID</option> 
                 </select> 
             </div>
             <div class="form-group">
                  <label> </label>
                  <input type="text" name="in_string" placeholder=" Fe Co N" size="20">
             </div>
             
             <div class="form-group">
                  <input type="submit" name="submit" value="Search">
             </div>
        </form>
    </div>
 </div>
</div>

{% else %}

    <div class="clearfix" style="margin-bottom: 20px;"></div>
    <p>{{message}}</p>

{% endif %}



{% endblock %}
